# Import libraries and Read Data

In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import RobustScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [58]:
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Data Exlporation

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [60]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### Replace 0 with null in some columns

In [61]:
df[["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]] = df[["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]].replace(0,np.NaN)

# Handling Nulls

In [62]:
df.isnull().sum().sort_values(ascending=False)

Insulin                     374
SkinThickness               227
BloodPressure                35
BMI                          11
Glucose                       5
Pregnancies                   0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [63]:
df.drop(["Insulin", "SkinThickness"],axis=1,inplace=True)

In [64]:
df["Glucose"].fillna(df["Glucose"].value_counts().index[0],inplace=True)
df["BloodPressure"].fillna(df["BloodPressure"].value_counts().index[0],inplace=True)
df["BMI"].fillna(df["BMI"].value_counts().index[0],inplace=True)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   BMI                       768 non-null    float64
 4   DiabetesPedigreeFunction  768 non-null    float64
 5   Age                       768 non-null    int64
 6   Outcome                   768 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 42.1 KB

# Split Data

In [66]:
X = df.drop("Outcome", axis=1)
Y = df["Outcome"]

In [67]:
x_train,x_test,y_train,y_test = train_test_split(X, Y, test_size=0.3, random_state=90)

# Logistic Regression

In [68]:
Lreg = LogisticRegression().fit(x_train, y_train)

train_predication = Lreg.predict(x_train)
test_prediction = Lreg.predict(x_test)


print("\nScore on training set: ", accuracy_score(y_train , train_predication))
print("\nScore on test set: ", accuracy_score(y_test , test_prediction))

Score on training set:  0.7579143389199255

Score on test set:  0.7792207792207793

In [69]:
print(classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.82      0.82      0.82       159
           1       0.61      0.61      0.61        72

    accuracy                           0.76       231
   macro avg       0.72      0.72      0.72       231
weighted avg       0.76      0.76      0.76       231

# KNN

In [70]:
x_train_scaled = RobustScaler().fit_transform(x_train)
x_test_scaled = RobustScaler().fit_transform(x_test)

In [71]:
parameters = {"n_neighbors" : list(range(1,100))}
knn = GridSearchCV(KNeighborsClassifier(), parameters,cv=5)
knn.fit(x_train_scaled,y_train)

train_pred = knn.predict(x_train_scaled)
test_pred = knn.predict(x_test_scaled)

print("\nScore on training set: ", accuracy_score(y_train,train_pred))
print("\nScore on test set: ", accuracy_score(y_test,test_pred))
print("\n",knn.best_params_)

Score on training set:  0.776536312849162

Score on test set:  0.7575757575757576

 {'n_neighbors': 37}

In [72]:
print(classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.82      0.82      0.82       159
           1       0.61      0.61      0.61        72

    accuracy                           0.76       231
   macro avg       0.72      0.72      0.72       231
weighted avg       0.76      0.76      0.76       231

# SVM

In [73]:
parameters = {"kernel" : ("linear","rbf","poly"), "C":[1,10]}
svc = svm.SVC(class_weight={0:1,1:2})

svm = GridSearchCV(svc, parameters,cv=5)
svm.fit(x_train_scaled,y_train)

train_pred = svm.predict(x_train_scaled)
test_pred = svm.predict(x_test_scaled)

print("\nScore on training set: ", accuracy_score(y_train,train_pred))
print("\nScore on test set: ", accuracy_score(y_test,test_pred))
print("\n",svm.best_params_)

Score on training set:  0.7616387337057728

Score on test set:  0.7142857142857143

 {'C': 10, 'kernel': 'linear'}

In [74]:
print(classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.88      0.67      0.76       159
           1       0.53      0.81      0.64        72

    accuracy                           0.71       231
   macro avg       0.71      0.74      0.70       231
weighted avg       0.77      0.71      0.72       231